*{
    margin: 0px;
    font-family:'inter';
}


#parte-superior{
    background-color: #303030;
    padding-top: 100px;
    height: 100%;
    width: 100%;
}

.frase-principal{
   color: #fff;
   font-weight: bold;
   width: 1024px;
   height: 50px;
   margin-left: 62px;
   font-size: 45px;
   margin-top: 60px;
}

.frase-secundaria{
  color: #fff;
  width: 1024px;
  height: 28px;
  margin-top: 40px;
  margin-left: 62px;
  font-size: 20px;
  padding-bottom: 150px;
}

#menu-informacional{
    background-color: #F9F9F9;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    padding: 50px;
}

.bolder{
    font-weight: bolder;
    font-size: 20px;
    margin-left: 60px;
}

.text{
    margin-left: 60px;
}

.imagem{
    margin-left: 781px;
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 30px;
}

#texto-superior{
    font-weight: 500;
    line-height: 20px;
    margin-top: -450px;
    margin-left: 77px;
    font-size: 35px;
}

#texto-inferior{
    margin-top: 40px;
    margin-left: 77px;
    font-size: 20px;
    

}

#formulario{
    background-color: #303030;
    text-align: center;
    
}

#titulo-formulario{
    color: #fff;
    padding-top: 100px;
    margin-top: 280px;
    text-align: center;
}

input{
   width: 400px;
   height: 60px;
   margin-top: 60px;
   border: 0px;
   border-radius: 5px;
   padding-left: 10px;
}

button{
    background-color: #C07212;
    height: 74px;
    width: 286px;
    color: #EAECE5;
    border: 0px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}

#bloco{
    font-size: 24px;
    font-family: 'raleway';
    line-height: 30px;
}

#segundo-bloco{
    font-size: 24px;
    font-family: 'raleway';
    line-height: 30px;
}

#botao{
    font-size: 30px;
    font-family: 'raleway';
    
}

button:hover{
    background-color: #247BA0;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #1b2d35;
    transition-duration: 0.5s;
 }